# Ignore everything
*

# Don't ignore .py files
!*.py

# Don't ignore this .gitignore file
!.gitignore

# Don't ignore directories (so Git can traverse them to find .py files)
!*/

# Ignore virtual environment directory
AI_CW_venv/

# Also ignore common virtual environment patterns (optional but good practice)
venv/
env/
ENV/
*.venv
.venv